type adspd, domain;
type adspd_exec, exec_type, file_type;
init_daemon_domain(adspd)
unix_socket_connect(adspd, property, init)

allow adspd adspd_data_file:dir rw_dir_perms;
allow adspd adspd_socket:sock_file { read write };
