type adspd, domain;
type adspd_exec, exec_type, file_type;
init_daemon_domain(adspd)

allow adspd adspd_data_file:dir rw_dir_perms;
allow adspd adspd_data_file:file create_file_perms;

allow adspd adspd_prop:property_service set;

allow adspd audio_device:chr_file rw_file_perms;
allow adspd audio_device:dir search;

allow adspd firmware_file:dir search;
allow adspd firmware_file:file r_file_perms;

allow adspd input_device:chr_file r_file_perms;
allow adspd input_device:dir search;

allow adspd property_socket:sock_file write;

allow adspd sysfs_adspd:dir search;
allow adspd sysfs_adspd:file rw_file_perms;

unix_socket_connect(adspd, property, init)
