allow atfwd servicemanager:binder call;
allow atfwd atfwd_service:service_manager find;
allow atfwd qmuxd_socket:dir { add_name write };
allow atfwd qmuxd_socket:sock_file { create write };
allow atfwd qmuxd:unix_stream_socket connectto;