type batt_health, domain;
type batt_health_exec, exec_type, file_type;
init_daemon_domain(batt_health)

allow batt_health battery_data_file:dir { search write add_name remove_name };
allow batt_health battery_data_file:file { open write create read append getattr setattr rename unlink };
allow batt_health cache_file:dir { write remove_name add_name search };
allow batt_health cache_file:file { create unlink open read write append getattr setattr };
allow batt_health self:capability { dac_read_search dac_override chown net_admin fowner fsetid };
allow batt_health self:netlink_kobject_uevent_socket { create setopt bind read };
allow batt_health sysfs_thermal:dir { search read open };
allow batt_health sysfs_thermal:file { read open };
allow batt_health sysfs:dir { open read };
allow batt_health sysfs:file { open read };
