type batt_health, domain;
type batt_health_exec, exec_type, file_type;
init_daemon_domain(batt_health)

allow batt_health self:capability { chown dac_read_search dac_override fowner fsetid net_admin };
allow batt_health self:netlink_kobject_uevent_socket { bind create read setopt };

allow batt_health battery_data_file:dir rw_dir_perms;
allow batt_health battery_data_file:file { append create getattr open read rename setattr write };
allow batt_health sysfs_thermal:dir r_dir_perms;
allow batt_health sysfs_thermal:file r_file_perms;
