type batt_health, domain;
type batt_health_exec, exec_type, file_type;
init_daemon_domain(batt_health)

allow batt_health self:capability { setuid fowner chown fsetid net_admin dac_override };
allow batt_health batt_health_data_file:dir rw_dir_perms;
allow batt_health batt_health_data_file:file create_file_perms;
allow batt_health batt_health_sysfs:file rw_file_perms;
allow batt_health batt_health_sysfs:dir rw_dir_perms;
allow batt_health pds_file:dir rw_dir_perms;
allow batt_health pds_file:file create_file_perms;
allow batt_health self:netlink_kobject_uevent_socket read;
allow batt_health self:netlink_kobject_uevent_socket { bind create setopt };
allow batt_health sysfs_thermal:dir { search read open };
allow batt_health sysfs_thermal:file { read open };
