allow bluetooth firmware_file:dir search;
allow bluetooth firmware_file:file { read open getattr };
allow bluetooth moto_wcnss_filter:unix_stream_socket connectto;
allow bluetooth proc_sysrq:file read;
allow bluetooth sysfs_msmuart_file:file { read write open };
allow bluetooth wcnss_filter:unix_stream_socket connectto;
