allow bluetooth moto_wcnss_filter:unix_stream_socket connectto;
allow bluetooth sysfs_msmuart_file:file { read write open };
allow bluetooth wcnss_filter:unix_stream_socket connectto;
