allow dumpstate self:capability sys_admin;

allow dumpstate mnt_media_rw_file:dir getattr;
allow dumpstate modem_efs_partition_device:blk_file getattr;
allow dumpstate storage_file:dir getattr;
