type hwrev, domain;
type hwrev_exec, exec_type, file_type;
init_daemon_domain(hwrev)

allow hwrev shell_exec:file read;

allow hwrev hwrev_data_file:dir create_dir_perms;
allow hwrev hwrev_data_file:file create_file_perms;
allow hwrev system_file:file execute_no_trans;
