allow init audio_device:chr_file { write ioctl };
allow init input_device:chr_file ioctl;
allow init graphics_device:chr_file { write ioctl };
allow init hwrev_data_file:file append;
allow init mpctl_data_file:file append;
allow init sensors_device:chr_file { write ioctl };
allow init sysfs_light:file setattr;
allow init sysfs_lowmemorykiller:file getattr;
allow init sysfs_power:file setattr;
