allow init audio_device:chr_file { write ioctl };
allow init debugfs:file write;
allow init firmware_file:dir mounton;
allow init graphics_device:chr_file { write ioctl };
allow init hwrev_data_file:file append;
allow init input_device:chr_file ioctl;
allow init kernel:system syslog_read;
allow init mpctl_data_file:file append;
allow init property_socket:sock_file write;
allow init sensors_device:chr_file { write ioctl };
allow init socket_device:sock_file { create setattr unlink };
allow init sysfs_dt2w:file setattr;
allow init sysfs_lowmemorykiller:file getattr;
allow init sysfs_light:file setattr;
allow init sysfs_power:file setattr;
allow init system_data_file:file { rename append };
