#allow mm-qcamerad default_prop:property_service set;
allow mm-qcamerad persist_file:file { read open getattr };
allow mm-qcamerad persist_file:dir { getattr open read search  };
allow mm-qcamerad property_socket:sock_file write;
allow mm-qcamerad init:unix_stream_socket connectto;

