allow qti_init_shell hwrev_exec:file r_file_perms;
allow qti_init_shell hwrev_data_file:dir { write getattr setattr search read remove_name open add_name };
allow qti_init_shell hwrev_data_file:file { write getattr setattr create unlink open append };
allow qti_init_shell kmsg_device:chr_file { open write };
