allow rfs_access debugfs_rmt_storage:dir search;
allow rfs_access debugfs_rmt_storage:file w_file_perms;
allow rfs_access fsg_file:dir search;
allow rfs_access fsg_file:file { getattr open read };
allow rfs_access fsg_file:lnk_file read;
