allow rild block_device:dir search;
allow rild firmware_file:dir { read open search };
allow rild fsg_file:dir { open read search };
allow rild persist_file:dir search;
allow rild persist_file:file { getattr read write open };
allow rild radio_data_file:lnk_file read;
allow rild radio_data_file:chr_file { create open read write };
allow rild rmt_storage_prop:property_service set;
allow rild rmt_storage_prop:file { getattr open read };
allow rild sensors_device:chr_file { ioctl open read write };
allow rild system_data_file:dir { write remove_name  add_name };
allow rild system_data_file:sock_file { create setattr unlink };
allow rild wpa:unix_dgram_socket sendto;
allow rild wpa_socket:sock_file write;
