allow rild fsg_file:dir { read open };
allow rild radio_data_file:chr_file { create open read write };
allow rild sensors_device:chr_file { ioctl open read write };
allow rild wpa_socket:sock_file write;
allow rild wpa:unix_dgram_socket sendto;
