allow rmt_storage fsg_file:dir search;
allow rmt_storage fsg_file:file r_file_perms;
allow rmt_storage rmt_storage_prop:property_service set;
allow rmt_storage self:capability dac_override;
