type timekeep, domain;
type timekeep_exec, exec_type, file_type;
type timekeep_service, service_manager_type;

# Started by init
init_daemon_domain(timekeep)

allow timekeep self:capability { sys_time };
