import /vendor/etc/init/hw/init.mmi.usb.rc
import /vendor/etc/init/hw/init.qcom.power.rc

on early-init
    write /sys/block/zram0/comp_algorithm lz4
    mount debugfs debugfs /sys/kernel/debug

on init
    write /proc/sys/vm/page-cluster 0

    chown system log /sys/fs/pstore/annotate-ramoops
    chmod 0640 /sys/fs/pstore/annotate-ramoops

    # ESDFS
    chown mot_esdfs root /proc/fs/esdfs/packages

    # Set permissions for partitions
    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw

    # Setup symlinks
    symlink /data/tombstones /tombstones

on fs
    wait /dev/block/platform/soc.0/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc.0/${ro.boot.bootdevice} /dev/block/bootdevice
    mount_all /vendor/etc/fstab.qcom
    swapon_all /vendor/etc/fstab.qcom

    # use /persist as phony PDS partition
    symlink /persist /pds

    symlink /data/tombstones /tombstones

    restorecon_recursive /persist

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

    # Allow subsystem (modem etc) debugging
    write /sys/kernel/boot_adsp/boot 1
    chown root audio /sys/kernel/boot_adsp/boot

on boot
    chown system system /sys/class/backlight/lcd-backlight:0/brightness
    chown system system /sys/class/backlight/lcd-backlight:0/max_brightness
    chown system system /sys/class/leds/charging/brightness
    chmod 0664 /sys/class/backlight/lcd-backlight:0/brightness
    chmod 0664 /sys/class/backlight/lcd-backlight:0/max_brightness
    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chmod 0664 /sys/class/leds/charging/brightness

    # Change the ownership of display files
    chown root oem_9004 /sys/class/graphics/fb0/te_enable
    chown root oem_9004 /sys/class/graphics/fb0/frame_counter
    chown system system /sys/class/graphics/fb0/hbm
    chown system system /sys/class/graphics/fb0/cabc_mode

    # update foreground cpuset now that processors are up
    # foreground gets all CPUs except CPU 3
    # CPU 3 is reserved for the top app
    write /dev/cpuset/foreground/cpus 0-2,4-5
    write /dev/cpuset/foreground/boost/cpus 4-5
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-2
    write /dev/cpuset/top-app/cpus 0-5

    # motosh irq_disable parameter permissions
    chown root oem_9004 /sys/module/motosh/parameters/irq_disable
    chmod 0660 /sys/module/motosh/parameters/irq_disable

    # Quiet binder logs
    write /sys/module/binder/parameters/debug_mask 0x5

    # create the necessary data dirs for tpapi with proper permission
    mkdir /data/tpapi 02770 oem_9007 oem_9007
    mkdir /data/tpapi/etc 02770 oem_9007 oem_9007
    mkdir /data/tpapi/etc/tpa 02770 oem_9007 oem_9007
    mkdir /data/tpapi/etc/tpa/persistent 02770 oem_9007 oem_9007

    # Create moodle directory that MOT_MOODLE can write to
    mkdir /data/local/moodle 0770 graphics oem_9004

    # set permission for Dynamic-CABC feature
    chown system system /sys/class/graphics/fb0/cabc_mode

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /proc/bluetooth/sleep/lpm
    chown bluetooth bluetooth /proc/bluetooth/sleep/btwrite
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/device/extldo
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chmod 0660 /dev/ttyHS0
    chmod 0660 /sys/class/rfkill/rfkill0/device/extldo

    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps
    mkdir /dev/socket/qmux_nfc 0770 nfc nfc
    chmod 2770 /dev/socket/qmux_nfc

    #Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio

    #Remove SUID bit for iproute2 ip tool
    chmod 0755 /system/bin/ip

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max  8388608
    write /proc/sys/net/core/wmem_max  8388608

    # To prevent out of order acknowledgements from making
    # connection tracking to treat them as not belonging to
    # the connection they belong to.
    # Otherwise, a weird issue happens in which some long
    # connections on high-throughput links get dropped when
    # an ack packet comes out of order
    write /proc/sys/net/netfilter/nf_conntrack_tcp_be_liberal 1

    # NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

    # Allow access for CCID command/response timeout configuration
    chown system system /sys/module/ccid_bridge/parameters/bulk_msg_timeout

    # Mark the copy complete flag to not completed
    write /data/misc/radio/copy_complete 0
    chown radio radio /data/misc/radio/copy_complete
    chmod 0660 /data/misc/radio/copy_complete
    symlink /firmware/image/modem_pr/mbn_ota /data/misc/radio/modem_config
    write /data/misc/radio/copy_complete 1

    # Wifi firmware reload path
    chown wifi wifi /sys/module/wlan/parameters/fwpath

on post-fs
    mkdir /persist/camera 02755 oem_9004 oem_9004
    mkdir /persist/camera/ledcal 0755 camera oem_9004
    mkdir /persist/factory 0755 oem_9004 oem_9004
    mkdir /persist/public 0755 oem_9004 oem_9004
    mkdir /persist/public/atvc 0770 oem_9012 shell
    mkdir /persist/public/battd 0755 mot_accy oem_9004
    mkdir /persist/public/hiddenmenu 0755 radio radio
    mkdir /persist/public/hiddenmenu/data 0775 system oem_9004
    mkdir /persist/public/locale 0700 system system
    mkdir /persist/public/omadm 0700 radio radio
    mkdir /persist/public/svcs 0770 system system
    mkdir /persist/wifi 0755 oem_9004 oem_9004
    mkdir /persist/bt 0755 oem_9004 bluetooth
    mkdir /persist/wmdrm 0775 mot_drm mot_drm
    mkdir /persist/batt_health 0755 oem_9001 oem_9001
    mkdir /persist/mdm 0770 radio radio
    mkdir /persist/antcap 0755 oem_9004 oem_9004
    mkdir /persist/security 02770 oem_9007 oem_9007
    mkdir /persist/display 0770 system graphics

    chown oem_9004 oem_9004 /persist/factory/fti
    chown oem_9004 oem_9004 /persist/factory/byte
    chown oem_9004 oem_9004 /persist/bt/bt_bdaddr
    chown oem_9004 oem_9004 /persist/antcap

    chmod 0660 /persist/factory/fti
    chmod 0660 /persist/factory/byte
    chmod 0660 /persist/wifi/wlan_mac.bin
    chmod 0664 /persist/bt/bt_bdaddr
    chmod 0600 /persist/whisper/whisper_only/vector0.bin
    chmod 0755 /persist/antcap

    # Move /persist/captouch_*.bin to /persist/antcap (if necessary)
    copy /persist/captouch_caldata.bin /persist/antcap/captouch_caldata.bin
    copy /persist/captouch_basedata.bin /persist/antcap/captouch_basedata.bin
    chown oem_9004 oem_9004 /persist/antcap/captouch_caldata.bin
    chown oem_9004 oem_9004 /persist/antcap/captouch_basedata.bin
    chmod 0644 /persist/antcap/captouch_basedata.bin
    chmod 0644 /persist/antcap/captouch_caldata.bin
    rm /persist/captouch_caldata.bin
    rm /persist/captouch_basedata.bin

    # Permissions CapSense firmware update & reset
    chown oem_9004 oem_9004 /sys/class/capsense/fw_update
    chown oem_9004 oem_9004 /sys/class/capsense/reset
    chmod 0660 /sys/class/capsense/fw_update
    chmod 0660 /sys/class/capsense/reset

on post-fs-data
    # Setup correct permissions for dbvc and atvc
    mkdir /pds/public/atvc 0770 oem_9012 shell
    chmod 0770 /pds/public/atvc
    mkdir /data/local/atvc 0775 oem_9004 shell

    # Create IPA daemon dir
    mkdir /data/misc/ipa/ 0770 system net_admin

    # Create IOP daemon dir
    mkdir /data/misc/iop 0770 root system

    # Create PERFD deamon related dirs
    mkdir /data/misc/perfd 0755 root system
    chmod 2755 /data/misc/perfd
    mkdir /data/system/perfd 0770 root system
    chmod 2770 /data/system/perfd
    rm /data/system/perfd/default_values

    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/wcnss 0771 system system
    mkdir /tombstones/dsps 0771 system system

    # Mounting of persist is moved to 'on emmc-fs' and 'on fs' sections
    # We chown/chmod /persist again so because mount is run as root + defaults
    chown system system /persist
    chmod 0771 /persist

    # Chown polling nodes as needed from UI running on system server
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    chown audio audio /sys/kernel/aov/trigger
    chown audio audio /sys/kernel/aov/register
    chown audio audio /sys/kernel/aov/event

    # Create misc directory for various subsystems
    mkdir /data/misc/sensorhub 0770 system compass
    mkdir /data/misc/cutback 0770 radio wifi
    mkdir /data/misc/audio 0770 audio audio
    mkdir /data/misc/audio/acdbdata 0770 media audio
    mkdir /data/misc/audio/acdbdata/delta 0770 media audio
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/xtwifi 0770 gps gps
    mkdir /data/misc/location/gpsone_d 0770 system gps
    mkdir /data/misc/location/quipc 0770 gps system
    mkdir /data/misc/location/gsiff 0770 gps gps
    mkdir /data/misc/camera 0770 camera camera

    # Create directory's for various items
    mkdir /data/power_supply_logger 0750 oem_9001 log
    mkdir /data/system 0775 system system
    mkdir /data/adspd/ 0770 audio oem_2950
    mkdir /data/hardware_revisions 0755 system system
    mkdir /data/connectivity 0771 system system
    chown system system /data/connectivity

    # Create directory for FOTA
    mkdir /data/fota 0771 system system

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    # Create folders for audio files
    mkdir /data/audio/ 0770 media audio
    mkdir /data/audio/acdbdata 0770 media audio
    mkdir /data/audio/acdbdata/delta 0770 media audio

    # Create a folder for SRS to be able to create a usercfg file
    mkdir /data/data/media 0770 media media

    # Create the directories used by the Wireless subsystem
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    # Create the directories used by CnE subsystem
    mkdir /data/connectivity 0771 system system

    setprop vold.post_fs_data_done 1

on property:sys.boot_completed=1
    setprop sys.io.scheduler bfq

    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250

on property:vold.decrypt=trigger_restart_framework
    start qcom-c_main-sh

on property:init.svc.vendor.per_mgr=running
    start vendor.per_proxy

on property:sys.shutdown.requested=*
    stop vendor.per_proxy

on property:persist.radio.atfwd.start=false
    stop vendor.atfwd

on property:radio.atfwd.start=false
    stop vendor.atfwd

on property:wc_transport.start_hci=true
    start vendor.wcnss_filter

on property:wc_transport.start_hci=false
    stop vendor.wcnss_filter

service vendor.irsc_util /vendor/bin/irsc_util "/vendor/etc/sec_config"
    class main
    user root
    oneshot

service vendor.rmt_storage /vendor/bin/rmt_storage
    class core
    user root
    group system wakelock
    writepid /dev/cpuset/system-background/tasks

service vendor.rfs_access /vendor/bin/rfs_access
    class core
    user root
    group system net_raw
    writepid /dev/cpuset/system-background/tasks

service vendor.wcnss_filter /vendor/bin/wcnss_filter
    class late_start
    user root
    group bluetooth oem_2950 log system
    seclabel u:r:moto_wcnss_filter:s0
    disabled

service vendor.qmuxd /vendor/bin/qmuxd
    class main
    user root
    group radio audio bluetooth gps nfc diag oem_2950 wakelock
    writepid /dev/cpuset/system-background/tasks

service vendor.netmgrd /vendor/bin/netmgrd
    class main
    user root
    group root wifi wakelock radio inet
    writepid /dev/cpuset/system-background/tasks

service vendor.ipacm-diag /vendor/bin/ipacm-diag
    class main
    user system
    socket ipacm_log_file dgram 660 system net_admin
    group net_admin oem_2950

service ipacm /system/bin/ipacm
    class main
    user net_admin
    group net_admin inet
    writepid /dev/cpuset/system-background/tasks

service vendor.qti /vendor/bin/qti
    class main
    user radio
    group radio net_raw oem_2950 usb net_admin
    disabled
    writepid /dev/cpuset/system-background/tasks

service vendor.wpa_supplicant /vendor/bin/hw/wpa_supplicant \
    -O/data/vendor/wifi/wpa/sockets -puse_p2p_group_interface=1 \
    -g@android:wpa_wlan0
    interface android.hardware.wifi.supplicant@1.0::ISupplicant default
    interface android.hardware.wifi.supplicant@1.1::ISupplicant default
    interface android.hardware.wifi.supplicant@1.2::ISupplicant default
    # we will start as root and wpa_supplicant will switch to user wifi
    # after setting up the capabilities required for WEXT
    # user wifi
    # group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service vendor.atfwd /vendor/bin/ATFWD-daemon
    class late_start
    user system
    group system radio

service vendor.ril-daemon2 /vendor/bin/hw/rild -c 2
    class main
    user radio
    group radio cache inet misc audio log readproc wakelock oem_2950
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW

service vendor.qcamerasvr /vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics gps
    writepid /dev/cpuset/system-background/tasks

service vendor.qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

service vendor.per_mgr /vendor/bin/pm-service
    class core
    user system
    group system net_raw
    writepid /dev/cpuset/system-background/tasks

service vendor.per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system net_raw
    disabled
    writepid /dev/cpuset/system-background/tasks

service vendor.time_daemon /vendor/bin/time_daemon
    class late_start
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

service vendor.adsprpcd /vendor/bin/adsprpcd
    class main
    user media
    group media

service vendor.atvc_core /vendor/bin/dbvc_atvc_property_set
    class core
    user oem_9012
    seclabel u:r:atvc:s0
    group oem_9007
    oneshot

service vendor.atvc /vendor/bin/dbvc_atvc_property_set
    class late_start
    user oem_9012
    seclabel u:r:atvc:s0
    group oem_9007
    oneshot

service vendor.msm_irqbalance /vendor/bin/msm_irqbalance -f /vendor/etc/msm_irqbalance.conf
    socket msm_irqbalance seqpacket 660 root system
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

service vendor.cnd /vendor/bin/cnd
    class main
    user system
    group system wifi inet radio wakelock net_admin

service vendor.dpmQmiMgr /vendor/bin/dpmQmiMgr
    class main
    user system
    group radio system

service vendor.ssr_setup /vendor/bin/ssr_setup
    class late_start
    oneshot

service vendor.batt_health /vendor/bin/batt_health
    class main
    group oem_9001

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0
    writepid /dev/cpuset/system-background/tasks

service vendor.motosh /vendor/bin/motosh boot
    class late_start
    user compass
    group compass misc input oem_9004
    oneshot

service vendor.mmi-touch-sh /vendor/bin/init.mmi.touch.sh synaptics
    class core
    user root
    oneshot

service vendor.hw_revs /vendor/bin/hardware_revisions.sh
    class late_start
    user system
    group system
    oneshot

service vendor.adspd /vendor/bin/adspd
   class main
   socket adspdsock stream 0660 system audio
   user audio
   group audio input oem_2950

service vendor.perfd /vendor/bin/perfd
    class main
    user root
    group system
    socket perfd seqpacket 0666 root system
    writepid /dev/cpuset/system-background/tasks

service vendor.ppd /vendor/bin/mm-pp-daemon
    class late_start
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop vendor.ppd

on property:apexd.status=ready
    mount none /system/etc/swcodec/ld.config.txt /apex/com.android.media.swcodec/etc/ld.config.txt bind

on property:vold.decrypt=trigger_restart_framework
    restart vendor.camera-provider-2-4
